<div>
  <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label [for]="firstNameLabel">Prénom</label>
    <input type="text" [id]="firstNameLabel" [name]="firstNameLabel" [(ngModel)]="firstNameValue" #firstNameModel="ngModel" class="form-element" required />
    <div *ngIf="form.submitted && firstNameModel.errors?.['required']" class="error">
      Le prénom est requis
    </div>
    <label [for]="firstNameLabel">Nom de famille</label>
    <input type="text" [id]="lastNameLabel" [name]="lastNameLabel" [(ngModel)]="lastNameValue" #lastNameModel="ngModel" class="form-element" required />
    <div *ngIf="form.submitted && lastNameModel.errors?.['required']" class="error">
      Le nom de famille est requis
    </div>
    <label [for]="levelLabel">Niveau de langue</label>
    <select [id]="levelLabel" [name]="levelLabel" [(ngModel)]="levelValue" #levelModel="ngModel" class="form-element" required>
      <ng-container *ngFor="let level of levels | keyvalue">
        <option>{{ level.value }}</option>
      </ng-container>
    </select>
    <div *ngIf="form.submitted && levelModel.errors?.['required']" class="error">
      Le niveau de langue est requis
    </div>
    <label [for]="emailLabel">Email</label>
    <input type="text"  [id]="emailLabel" [name]="emailLabel" [(ngModel)]="emailValue" #emailModel="ngModel" [pattern]="EMAIL_PATTERN" required class="form-element" />
    <div *ngIf="form.submitted && emailModel.errors?.['required']" class="error">
      L'e-mail est requis
    </div>
    <div *ngIf="form.submitted && emailModel.errors?.['pattern']" class="error">
      Le format de l'e-mail est invalide
    </div>
    <label [for]="startingTimeLabel">Date et heure de début</label>
    <input type="datetime-local" [id]="startingTimeLabel" [name]="startingTimeLabel" [(ngModel)]="startingTimeValue" #startingTimeModel="ngModel" required class="form-element" />
    <div *ngIf="form.submitted && startingTimeModel.errors?.['required']" class="error">
      L'heure de début désirée est requise
    </div>
    <label [for]="endingTimeLabel">Date et heure de fin</label>
    <input type="datetime-local" [id]="endingTimeLabel" [name]="endingTimeLabel" [(ngModel)]="endingTimeValue" #endingTimeModel="ngModel" required class="form-element" />
    <div *ngIf="form.submitted && endingTimeModel.errors?.['required']" class="error">
      L'heure de fin désirée est requise
    </div>
    <button type="submit">Submit</button>
    {{ log }}
  </form>
</div>
