<form class="form">
  <label [for]="firstNameLabel">First Name</label>
  <input type="text" [id]="firstNameLabel" [name]="firstNameLabel" class="form-field" [(ngModel)]="firstNameValue" class="form-element" />
  <label [for]="firstNameLabel">Last Name</label>
  <input type="text" [id]="firstNameLabel" [name]="lastNameLabel" class="form-field" [(ngModel)]="lastNameValue" class="form-element" />
  <label [for]="levelLabel">Level</label>
  <select [id]="levelLabel" [name]="levelLabel" [(ngModel)]="levelValue"  class="form-element">
    <ng-container *ngFor="let level of levels | keyvalue">
      <option>{{ level.value }}</option>
    </ng-container>
  </select>
  <label [for]="emailLabel">Email</label>
  <input type="text"  [id]="emailLabel" [name]="emailLabel" [(ngModel)]="emailValue" class="form-element" />
  <label [for]="startingTimeLabel">Starting Time</label>
  <input type="datetime-local" [id]="startingTimeLabel" [name]="startingTimeLabel"  class="form-element" />
  <label [for]="endingTimeLabel">Ending Time</label>
  <input type="datetime-local" [id]="endingTimeLabel" [name]="endingTimeLabel"  class="form-element" />
  <input type="button" value="Submit">
</form>
